@font-face {
    font-family:"Roboto";
    src:url("../../assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
    font-weight:Bold;
    font-style:Bold;
}

@font-face {
    font-family:"Roboto";
    src:url("../../assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
    font-weight:Normal;
    font-style:Normal;
}
